<div class="modal-dialog modal-sm">
  <div class="modal-content">
	<div class="modal-header">
	  <button type="button" class="close" data-dismiss="modal">&times;</button>
	  <h2 class="modal-title">Payment</h2>
	</div>
	<div class="modal-body">
		<div class="row">
			<span id="Label">Address:</span>
		</div>
		<div class="row">
			<input [(ngModel)]="_address" class="col-sm-offset-1 col-sm-10 input-sm" placeholder="Address">
			<span class="col-sm-offset-8 col-sm-5" id="Error"[style.display]="_address.length <= 0?'inherit':'none'" > Required!!</span>
			<span class="col-sm-offset-1 col-sm-5" [style.display]="(_address.length <= 0)?'none':'inherit'" >&nbsp;</span>
		</div>
		<div class="row">
			<span id="Label">Payment Card:</span>
		</div>
		<div class="row">
			<input [(ngModel)]="_paymentCard" class="col-sm-offset-1 col-sm-10 input-sm" placeholder="Payment Card">
			<span class="col-sm-offset-8 col-sm-5" id="Error"[style.display]="_paymentCard.length <= 0?'inherit':'none'" > Required!!</span>
			<span class="col-sm-offset-1 col-sm-5" [style.display]="(_paymentCard.length <= 0)?'none':'inherit'" >&nbsp;</span>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" data-dismiss="modal"
		(click)="OnClickPayment()">Buy</button>
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	</div>
  </div>
</div>



