<h1>{{ _title }}</h1>
<hr>

<div class="col-md-4 test-{{idx+1}}" *ngFor="let product of _products; let idx = index">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="row">
				<img id="ImageShow" class="col-md-5" [src]="product.imgUrl">
				<div class="col-md-7">
					<h2>{{product.name}}</h2>
					<span>{{product.shortDetail}}...</span>
					<h4>Price: <span id="BigPrice">{{product.price}}$</span></h4>
					<a href="#">More info...</a>
				</div>
			</div>
		</div>
	</div>
</div>    

