<div class="col-md-4 animtedComponentShortDetail-{{ (idx%9) + 1 }}" *ngFor="let product of _products; let idx = index">
	<div id="ContainerPanel" class="panel panel-default">
		<div class="panel-body">
			<div class="row">
				<a [routerLink]="['/', _category.id,'/', product.id]">
					<img class="col-md-5 img-responsive testing" [src]="product.imgUrl">
				</a>
				<div class="col-md-7">
					<div id="DetailProductContainer" class="row">
						<h4>{{product.name}}</h4>
						<h4>Price: <span id="BigPrice">{{product.price}}$</span></h4>
					</div>
					<div class="row">
					<button *ngIf="_authenticationService.isSignIn()" class="btn btn-success" (click)="onAddToCartClick(product.id)">Add to Cart</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>    