<div *ngIf="_product != null" class="animatedDetail">
	<div class = "panel panel-default">
		<div class="panel-body">
			<div class="row">
				<img class= "col-md-5 img-responsive" [src]="_product.imgUrl">
				<div class = "col-md-7">
					<h1>{{_product.name}}</h1>
					<p>{{_product.detail}}<p>
					<h3>Price: <span id="VeryBigPrice">{{_product.price}}$</span></h3>
					<div class = "row">
						<button *ngIf="_authenticationService.isSignIn()" class="btn btn-success" (click)="onAddToCartClick(_product.id)">Add to Cart</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>