<h1>{{_title}}</h1>
<hr>

<div class = "panel panel-default">
	<div class="panel-body">
		<div class="row">
			<img id="BigImage" class= "col-md-5" [src]="_product.imgUrl">
			<div class = "col-md-7">
				<h1>{{_product.name}}</h1>
				<p>{{_product.detail}}<p>
				<h3>Price: <span id="VeryBigPrice">{{_product.price}}$</span></h3>
				<div class = "row">
				
					<button [style.display]="_userType > 0?'inherit':'none'" 
					class="btn btn-primary btn-lg col-md-4 col-md-push-4"
					(click)="OnClickUpdateProduct()"> Update Product</button>
					
					<button [style.display]="_userType > 0?'inherit':'none'" 
					class="btn btn-danger btn-lg col-md-4 col-md-push-4"
					(click)="OnClickRemoveProduct()"> Remove Product</button>
					
				</div>
				<div class = "row">
				
					<button [style.display]="_userType > 0?'none':'inherit'" 
					class="btn btn-success btn-lg col-md-4 col-md-push-8"
					(click)="OnClickAddProductToCart()"> Add to Cart</button>
					
				</div>
			</div>
		</div>
	</div>
</div>



